body{
	margin: 0;
	padding: 0;
	background-image: url('../img/particle.png');
	background-size: cover;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#intro{
	flex: 1;
	text-align:center;
}

#mugshot img{
	padding:10px 0px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.head-text {
    padding: 10px 0 0 0;
    min-height: 215px;
    color: #505470;
    font-size: 2em;
    font-family: campton ,sans-serif;
    text-align: center;
}

.lift-text .tagline {
    margin: 0;
}

.tagline {
    margin: 20px 0 0;
    font-size: 2em;
    font-weight: 600;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.sub-tagline{
	margin: 0;
    font-size: 1em;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.lift-text .sub-tagline{
	opacity: 1;
}

footer{
	text-align: center;
}

footer a{
	text-decoration: none;
}